/* line 5, ../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, sass/screen.scss */
body {
  background: #232323 url(/images/bg/body.png) 0 0 repeat;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  color: #8f8f8f;
  font-size: 13px;
  line-height: 1.4;
  width: 90%;
  margin: 3em auto;
}

/* line 28, sass/screen.scss */
#container {
  overflow: hidden;
  *zoom: 1;
}

/* line 32, sass/screen.scss */
p {
  margin-bottom: 1em;
}

/* line 36, sass/screen.scss */
a {
  color: #dcdcdc;
  text-decoration: none;
  border-bottom: dotted 1px #555;
  -webkit-transition-duration: .30s;
  -webkit-transition-property: background-color, color;
}
/* line 43, sass/screen.scss */
a:hover {
  color: #fff;
  border-bottom: solid 1px #777;
}

/* line 49, sass/screen.scss */
em {
  color: #d9d9d9;
}

/* line 53, sass/screen.scss */
h1 {
  color: #dcdcdc;
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0.4em;
}
/* line 60, sass/screen.scss */
h1 b {
  color: #d7ec33;
  display: block;
}

/* line 66, sass/screen.scss */
dl {
  margin-top: 1em;
}
/* line 68, sass/screen.scss */
dl dd {
  margin-bottom: 1em;
}

/* line 74, sass/screen.scss */
aside {
  float: left;
  width: 36%;
}
/* line 78, sass/screen.scss */
aside p.github {
  background: transparent url(/images/octocat.png) 0% 20% no-repeat;
  padding-left: 1.7em;
}

/* line 84, sass/screen.scss */
footer {
  margin-top: 2em;
}

/* line 89, sass/screen.scss */
section {
  float: right;
  width: 60%;
}
/* line 93, sass/screen.scss */
section header {
  min-height: 7em;
  position: relative;
}
/* line 97, sass/screen.scss */
section header h2 {
  font-size: 2.4em;
  line-height: 0.9;
  color: #fefefe;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  position: absolute;
  bottom: 0;
}

/* line 109, sass/screen.scss */
#dataset-wrapper {
  background: #202020;
  background: rgba(25, 25, 25, 0.52);
  padding: 0.3em 0.3em;
  margin-top: 0.3em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 118, sass/screen.scss */
ol#chart {
  margin-top: 0.4em;
}
/* line 121, sass/screen.scss */
ol#chart li {
  position: relative;
  margin-bottom: 0.8em;
  line-height: 2;
}
/* line 126, sass/screen.scss */
ol#chart li .digit {
  position: absolute;
  left: -1em;
}
/* line 131, sass/screen.scss */
ol#chart li .fill {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 2em;
  background-color: #d7ec33;
  margin-right: 0.5em;
}
/* line 138, sass/screen.scss */
ol#chart li b {
  line-height: 1;
  position: absolute;
  bottom: -0.8em;
  text-indent: -5px;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 70%;
  color: #fe0086;
}

/* line 150, sass/screen.scss */
p#benford-prediction {
  text-align: right;
  margin-top: -1.8em;
  margin-bottom: 2.5em;
}
/* line 155, sass/screen.scss */
p#benford-prediction b {
  font-size: 70%;
  color: #fe0086;
}

/* line 161, sass/screen.scss */
table {
  width: 100%;
  background: #202020;
  background: rgba(25, 25, 25, 0.52);
  margin-bottom: 1em;
}
/* line 167, sass/screen.scss */
table th, table td {
  padding: 0.1em 1.5em;
}
/* line 172, sass/screen.scss */
table thead th {
  padding-top: 1em;
}
/* line 177, sass/screen.scss */
table tfoot {
  color: #d7ec33;
}
/* line 180, sass/screen.scss */
table tfoot td {
  padding-top: 0.5em;
  padding-bottom: 1em;
}
/* line 186, sass/screen.scss */
table th {
  text-transform: uppercase;
  color: #d9d9d9;
}
/* line 191, sass/screen.scss */
table em {
  color: #d9d9d9;
  font-style: normal;
}

/* line 199, sass/screen.scss */
table#stats td {
  padding: 0.2em 1.5em;
}
/* line 202, sass/screen.scss */
table#stats tr:first-child td {
  padding-top: 1.5em;
}
/* line 205, sass/screen.scss */
table#stats tr:last-child td {
  padding-bottom: 1.5em;
}
/* line 208, sass/screen.scss */
table#stats td:first-child {
  width: 40%;
}
/* line 211, sass/screen.scss */
table#stats td:nth-child(2) {
  color: #d7ec33;
}

@media screen and (max-width: 600px), screen and (max-device-width: 480px) {
  /* line 218, sass/screen.scss */
  html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
  }
}
@media screen and (max-width: 700px) {
  /* line 226, sass/screen.scss */
  aside, section {
    float: none;
    width: auto;
    max-width: 100%;
  }

  /* line 232, sass/screen.scss */
  footer {
    display: none;
  }

  /* line 236, sass/screen.scss */
  p#benford-prediction {
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 480px) {
  /* line 244, sass/screen.scss */
  body {
    margin: 1em auto;
  }

  /* line 247, sass/screen.scss */
  h1 {
    font-size: 2.4em;
  }
}
