/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 16, sass/screen.scss */
body {
  background: #232323 url(/images/bg/body.png) 0 0 repeat;
  font-family: 'Inconsolata', 'Helvetica Neue', arial, serif;
  color: #8f8f8f;
  font-size: 0.84em;
  width: 90%;
  margin: 3em auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 26, sass/screen.scss */
p {
  margin-bottom: 1em;
}

/* line 30, sass/screen.scss */
a {
  color: #dcdcdc;
  text-decoration: none;
  -webkit-transition-duration: .30s;
  -webkit-transition-property: background-color, color;
}
/* line 36, sass/screen.scss */
a:hover {
  color: #fff;
}

/* line 41, sass/screen.scss */
h1 {
  font-family: 'Oswald', 'Helvetica Neue', arial, serif;
  color: #dcdcdc;
  font-size: 3.57em;
  text-transform: uppercase;
  margin-bottom: 0.4em;
}
/* line 48, sass/screen.scss */
h1 b {
  color: #d7ec33;
  display: block;
}

/* line 55, sass/screen.scss */
dl dd {
  margin-bottom: 1em;
}

/* line 61, sass/screen.scss */
aside {
  float: left;
  width: 36%;
}
/* line 65, sass/screen.scss */
aside p {
  line-height: 1.1em;
}

/* line 70, sass/screen.scss */
footer {
  margin-top: 2em;
}

/* line 75, sass/screen.scss */
section {
  line-height: 1.1em;
  float: right;
  width: 60%;
}
/* line 80, sass/screen.scss */
section h2 {
  font-size: 3em;
  line-height: 0.9;
  color: #fefefe;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
/* line 88, sass/screen.scss */
section h6 {
  font-size: 0.9em;
}

/* line 93, sass/screen.scss */
ol#chart {
  margin-top: 0.4em;
}
/* line 95, sass/screen.scss */
ol#chart li {
  position: relative;
  margin-bottom: 0.8em;
  font-size: 1.1em;
  line-height: 2;
}
/* line 101, sass/screen.scss */
ol#chart li .digit {
  position: absolute;
  left: -1em;
}
/* line 106, sass/screen.scss */
ol#chart li .fill {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  height: 2em;
  background-color: #d7ec33;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ol#chart li .fill {
  *display: inline;
}
/* line 112, sass/screen.scss */
ol#chart li b {
  line-height: 1;
  position: absolute;
  bottom: -0.8em;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 70%;
  color: #fe0086;
}

/* line 123, sass/screen.scss */
table {
  width: 100%;
  background: #202020;
  background: rgba(25, 25, 25, 0.52);
  font-size: 1.1em;
  margin-bottom: 1em;
}
/* line 130, sass/screen.scss */
table th, table td {
  padding: 0.1em 1.5em;
}
/* line 135, sass/screen.scss */
table thead th {
  padding-top: 1em;
}
/* line 140, sass/screen.scss */
table tfoot {
  color: #d7ec33;
  font-size: 0.8em;
}
/* line 144, sass/screen.scss */
table tfoot td {
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 1.9em;
}
/* line 151, sass/screen.scss */
table th {
  text-transform: uppercase;
  color: #d9d9d9;
}
/* line 156, sass/screen.scss */
table em {
  color: #d9d9d9;
  font-style: normal;
}

@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
  /* line 165, sass/screen.scss */
  html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
  }
}
@media screen and (max-width: 600px) {
  /* line 173, sass/screen.scss */
  aside, section {
    float: none;
    width: auto;
    max-width: 100%;
  }

  /* line 179, sass/screen.scss */
  footer {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 185, sass/screen.scss */
  body {
    margin: 1em auto;
  }

  /* line 188, sass/screen.scss */
  h1 {
    font-size: 2.4em;
  }
}
